.header div img{
    width: 70%;
    border-radius: 50%;
    margin-left: 20px;
}
.header{
    background-color: rgb(37, 37, 37);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.header h1{
    color: aliceblue;
}
.header div{
    width: 20%;
}
.header a{
    color: rgb(149, 149, 231);
}
.header #div1{
    margin: 2%;
}
.header div pre{
    color: aliceblue;
}
.social a{
    float: left;
}
.social{
    margin-left: 50%;
    display: flex;
    float: right;
    margin-top: 8%;
    margin-right: 10px;
}

.menu li{
    display: block;
    float: left;
    border: 2px solid black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 3px;
    margin-bottom: 10px;
    background-color: #fced1e;

}
.menu ul{
    padding: 0%;
}
.menu{
    border: 2px solid black;
    background-color: rgb(77, 80, 80);
    overflow: hidden;
    margin-bottom: 20px;
}
.objective h2{
    text-align: center;
    margin-top: 30px;
    
}
.objective pre{
    text-align: center;
    font-style: italic;
}
.objective{
    background-color: #dddddd;
    padding: 40px;
    
}
.intro h2{
    text-align: center;
}
.intro p{
    margin-left: 50px ;
}
html {
    scroll-behavior: smooth;
  }
.menu li a{
      color: black;
  }
.intro pre{
    font-style: italic;
    font-size: large;
    text-align:center;
}
.intro {
    background-image: url('https://wallpaperaccess.com/full/5655890.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    color: #FFFFFF;
    padding: 20px;
}

body{
    margin: 0%;
}
.edu p{
    margin-left: 5%;
}
.edu{
    background-color: #dddddd;
    padding: 30px;
}